#Assignment on data structure.

Assignment on data structure contains assignments testing knowledge on data structures in python and various ways tthose data structures can be worked on for future analysis

Question 1....
1.Â¶
x = 16 - 2 * 5 // 3 + 1

y = 2 ** 3 * 3

what is x? what is y?

Describe the order that the computation occurred in each case. i.e which happened first, followed by which one, etc.

Answer: The brackets described the order in which the computation occurred.

In [7]:
x = 16- ((2 * (5//3) ) + 1 )

y = ((2 ** 3) * 3)

print(x)
print(y)

13
24

Question 2... 
Add parenthesis to the expression 6 * 1 - 2 to change the resulting value from 4 to -6.
Answer:

In [11]:
x = 6 * (1 - 2)
print(x)

-6

Question 3... Compute the area of a circle with radius 7, stored into a variable called area. 
Print a nice message with the answer.

Note- Search for the formula to calculate area of a circle. 
answer:

In [20]:
import math
pi =(math.pi)
pi = 3.14159265358979
r = 7
area_of_a_circle = 3.141592653589793 * (r**2)    #float object isn't callable so I had to manually type it
print(area_of_a_circle)

153.93804002589985

Question 4... Write an expression to check to if a number 3, stored in a variable x, is between 0 and 5.

In [106]:
x = [0,1,2,7,4,5]       #I don't understand this but this is how best I understand it
for item in x:
    if item == 3:
        print("Yeah")
        break
else:
    print("No")

No

5.
Variables x and y refer to Boolean values.

a. Write an expression that produces True if both variables are True.

b. Write an expression that produces True if at least one of the variables is True.

c. write an expression that inverses the result of 5a above.
Answer:

In [75]:
x = False
y = True

print(x and y)
print(x or y)
print(not (x and y))

False
True
True

5....
Create a list that contains floats and integers, and write a code to sum all the items in the list.

In [109]:
list = [2,2.3,3]
sum = 0
for number in list:
    sum =sum + number
    print(sum)

2
4.3
7.3

Question 7... list1 = [3, 5, 1, 3, 9, 5, 7]

Write a code to sort this list in increasing order.

In [44]:
list1 = [3, 5, 1, 3,9,5,7]
b = list1.sort()
print(list1)

[1, 3, 3, 5, 5, 7, 9]

question 8. list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, ,2, 9, 0, 5, 2, 1, 2, 4, 2]

Write a code to count how many times 2 occured in the list

In [48]:
list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, ,2, 9, 0, 5, 2, 1, 2, 4, 2]
list2.find[2]

SyntaxError: invalid syntax (<ipython-input-48-895c81437141>, line 1)

list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]

Using string formatting, write a code that slices out "Chinelo", "Faith", slices out the number 100, 85.5, and 90.

Your code should print out: Chinelo couldn't score 100%, she got 90%, However, Faith is a close second with 85.5%.

NB: Make sure your output contains % sign

In [70]:
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]
f"{list3[3][2][1][0]} couldn't score {list3[4]}%,she got {list3[-1][1]}%, However,faith is a close second with {list3[5]}%"

"Chinelo couldn't score 100%,she got 90%, However,faith is a close second with 85.5%"

Question 10...list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that removes any of these names and replaces it with your name in that particular index

In [73]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4[1] = "Seunzy"
print(list4)

['Chima', 'Seunzy', 'Rose', 'Hassan', 'Bisi']

Question 11... 11.
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that prints out the index positon of the name "Rose"

In [75]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
print(list4[2])

Rose

Question 12 ...list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that adds your name to this list of names

In [78]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4.append("Seunzy")
print(list4)

['Chima', 'Ebuka', 'Rose', 'Hassan', 'Bisi', 'Seunzy']

Question 13...sets = {3, 1, 10, 4, 5, 6}

Write a code that sorts this set in asceding order. Print the output, explain the out you got and why.

In [98]:
sets = {3, 1, 10, 4, 5, 6}
print(list(sets))
It is not possible to sort the vaue in a set.

SyntaxError: invalid syntax (<ipython-input-98-7aaf8d605b7c>, line 3)

In [111]:
i#Question 14... 
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
#Write a code prints out a new set with all items from both sets by removing duplicates
set3 = set1.union(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

Question 14...
Create a string that is a long series of words separated by spaces. It can be names, cities, animals, anything. Just make it up yourself.
Turn the string into a list of words using split.
Delete two words from the list, but delete each one using a different kind of Python method.
Sort the list.
Add two new words to the list using two different kinds of Python operation used in adding items to a list.
Turn the list of words back into a single string using join.
Print the string.

In [126]:
a,b,c,d,e = ["titi","shade","tayo","Kola","bolu"]
print(a,b,c,d,e)

list1 = ["titi","shade","tayo","Kola","bolu"]
list1.pop()
print(list1)
list1.remove("titi")
print(list1)
b = list1.sort()
print(list1)
list1.append("Tunde")
print(list1)
list1 = a,b,c,d
print(a,b,c,d)

titi shade tayo Kola bolu
['titi', 'shade', 'tayo', 'Kola']
['shade', 'tayo', 'Kola']
['Kola', 'shade', 'tayo']
['Kola', 'shade', 'tayo', 'Tunde']
titi None tayo Kola